.header-nav {
    margin: auto;
    z-index: 1;
    background-color: royalblue;
    overflow: auto;
    overflow: initial;
    border-radius: 15px;
    background: linear-gradient(345deg, #ff4a96, #ff6565, #ffcd61);
    width: 70%;
    padding-left: 15px;
    padding: 0.02%;
    box-shadow: 0 10px 30px rgba(29, 29, 29, 0.5);
    margin-top: 15px;
    display:block;
    position: relative;
  }

  router-outlet{
    z-index: auto;
    position: relative;
  }
  
  .auth{
    text-align: right;
    color:lightgoldenrodyellow;
    padding-right: 10px;
    display: block; 
   
  }
  
  .photo-logo {
    width:120px;
    height:120px;
    text-align: left;
    display: block; 
    margin-top: -20px;
    position: absolute;
  }




